<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Memcached Bundle Test Suite">
            <directory>tests/Mcfedr/MemcachedBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Mcfedr/MemcachedBundle/</directory>
        </whitelist>
    </filter>
</phpunit>
